version: "3.5"
services:
  hashtopolis-agent:
    container_name: hashtopolis_agent
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        - DEV_CONTAINER_USER_CMD_PRE
        - DEV_CONTAINER_USER_CMD_POST
    volumes:
      # This is where VS Code should expect to find your project's source code
      # and the value of "workspaceFolder" in .devcontainer/devcontainer.json
      - ..:/app/src
    networks:
      - hashtopolis_dev

networks:
  hashtopolis_dev:
    # This network will also be used by the hashtopolis server and db
    name: hashtopolis_dev